profile = default
version = 0.26.0
function-indent=4
extension-indent=4
indent-after-in=4
let-binding-indent=4
match-indent=4
match-indent-nested=always
cases-exp-indent=4
function-indent-nested=always
stritem-extension-indent=4
type-decl-indent=4
