profile = default
version = 0.26.0
function-indent=3
extension-indent=3
indent-after-in=3
let-binding-indent=3
match-indent=3
match-indent-nested=always
cases-exp-indent=3
function-indent-nested=always
stritem-extension-indent=3
type-decl-indent=3
